<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>홈</title>
    <%- include('navigation/head.ejs') %>
</head>
    <body>
        <%- include('navigation/nav.ejs') %>
        
        <h4>안녕</h4>
        <p>반가워</p>
        <button type="button" class="btn btn-primary">Primary</button>
        <script src="/common/bootstrap/js/bootstrap.bundle.min.js"></script>
    </body>
</html>